/***********************************************/
/** CASAA Interface Styles                    **/
/** Author: geoff.maxey (cntlscrut)           **/
/** Date: 1.19.2011                           **/
/***********************************************/

/** Globals Pages Styles **/

.casaa-settings {
	width:100%;
}

.casaa-left-rail {
	float:left;
	width: 22.5%;
	border-top: solid 1px #777;
	border-left: solid 1px #777;
	border-bottom: solid 1px #777;
}

.casaa-left-rail .casaa-plugin-list li {
	list-style:none;
	background: none;
}

.casaa-left-rail .casaa-plugin-list li a {
	color: #111;
	font-size: 10pt;
}

.casaa-left-rail .casaa-plugin-list #casaa-active {
	background: #ddd;
}

.casaa-main-content {
	width:75%;
  float:right;
	border:solid 1px #777;
	padding: 10px;
}